::selection {
    background-color: gray;
  }
  
  .container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    width: 400px;
    height: 580px;
    background-image: linear-gradient(to bottom, #424242,#212121);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
  }
  
  .title {
    color:  rgb(225, 179, 245);
    margin: 3rem 0;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .input {
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 20rem;
    background-color: inherit;
    color:  rgb(184, 179, 245);
    border: none;
    outline: none;
  }
  
  .username {
    /* border-bottom: 1px solid  rgb(225, 179, 245); */
    transition: all 400ms;
  }
  
  .username:hover {
    background-color: #424242;
    border: none;
    border-radius: 0.5rem;
  }
  
  .password {
    /* border-bottom: 1px solid  rgb(225, 179, 245); */
    transition: all 400ms;
  }
  
  .password:hover {
    background-color: #424242;
    border: none;
    border-radius: 0.5rem;
  }
  
  .btn {
    height: 3rem;
    width: 20rem;
    margin-top: 3rem;
    background-color:  rgb(225, 179, 245);
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    transition: all 400ms;
    box-shadow: 0 0 10px  rgb(215, 245, 250), 0 0 10px rgb(215, 245, 250);
  }
  
  .btn:hover {
    background-color: rgb(215, 245, 250);
    box-shadow: none;
  }
  

  .p_tag {
    color: rgb(215, 245, 250);
  }

  .link {
    color: rgb(8, 143, 221);
  }